body {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#Registro{
    text-shadow: 8px 5px 4px black;
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
    border: none;
}

#background-video { 
    position: absolute; 
    top: 0; 
    left: 50%; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    transform: translateX(-50%); 
    z-index: 0; 
    opacity: 0; 
    animation: showVideo 2s forwards 8s; /* Animación para mostrar el video después de 8 segundos */
}

@keyframes showVideo { 
    from { opacity: 0; } 
    to { opacity: 1; } 
}

.emerging-image {
    position: absolute;
    bottom: -150%;
    left: 50%;
    transform: translateX(-50%);
    animation: emerge 5s forwards, disappear 2s forwards 8s; /* Añadida animación de desaparición con retraso */
    width: 800px; /* Tamaño de la imagen */
    z-index: 1; /* Asegura que la imagen esté en un nivel inferior al formulario */
}

@keyframes emerge {
    0% { bottom: -150%; }
    100% { bottom: 50%; transform: translate(-50%, 50%); }
}

@keyframes disappear {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.registration-form {
    position: absolute;
    top: 50%; /* Ajusta la posición del formulario más arriba */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* Ajusta el tamaño del formulario */
    height: auto;
    z-index: 2; /* Asegura que el formulario esté por encima de la imagen */
    opacity: 0;
    animation: fadeIn 1s forwards 10s;
    background-color: rgba(30, 30, 30, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    padding: 20px;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

h1 {
    color: black;
    margin-bottom: 20px;
    font-size: 2em; /* Ajusta el tamaño del texto si es necesario */
}

input {
    background-color: #121212;
    border: 1px solid #444444;
    color: #ffffff;
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px); /* Ajusta el tamaño de los inputs */
    border-radius: 5px;
}

button {
    background-color: #121212;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px; /* Añade un margen superior a los botones */
    width: 45%; /* Ajusta el ancho del botón */
    border-radius: 5px;
}

button:hover {
    background-color: #444444;
}


